



<div class="Abhi">
    <h2>@ViewData["Title"].</h2>
</div>
<div class="dcband">
    <canvas id="dccanvas" width="100%" height="100%"></canvas>
</div>

<div class="Abhi">
    <address>
        Abhinaya Mogalipuvvu
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="abhinayamogalipuvvu2@gmail.com"> abhinayamogalipuvvu2@gmail.com</a>
        <br /><br />

        Graduate Student at Northwest State University
        <br />
        Masters of Applied Computer Science
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />
        <a href="https://www.google.com/maps/place/Maryville,+MO/data=!4m2!3m1!1s0x87eac4e050377d9d:0x6992857ebaf03d59?sa=X&ved=0ahUKEwiH1_2QkOTKAhXMRCYKHX0KCDgQ8gEIejAL">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/abhinaya.mogalipuvvu">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.linkedin.com/nhome/">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/abhinaya.mogalipuvvu">facebook</a></li>
    </ul>
    <br />


}
<div class="Abhi-addBackGround">
    <div>
        <h2>@ViewData["Title"].</h2>
    </div>
    

    <div class="Abhi">
        <address>
            <div class="name">Abhinaya Mogalipuvvu</div>
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="abhinayamogalipuvvu2@gmail.com"> abhinayamogalipuvvu2@gmail.com</a>
            <br /><br />

            Graduate Student at Northwest State University
            <br />
            Masters of Applied Computer Science
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />
            <a href="https://www.google.com/maps/place/Maryville,+MO/data=!4m2!3m1!1s0x87eac4e050377d9d:0x6992857ebaf03d59?sa=X&ved=0ahUKEwiH1_2QkOTKAhXMRCYKHX0KCDgQ8gEIejAL">Maryville, MO 64468</a>
            <br />
            <br />
            <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/abhinaya.mogalipuvvu">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.linkedin.com/nhome/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/abhinaya.mogalipuvvu">facebook</a></li>
        </ul>
        <br />




    </div>
    <div class="Abhi">
        <img src="~/images/abhinaya.png" style="width:50%; height:100%;float:right"/>
    </div>
    <div class="clearfix"></div>
    </div>

