﻿@{

}

<div class="Mani">
    <h2>@ViewData["Title"].</h2>
    
</div>

<div class="Mani">
    <address>
        <h2> Mani Chandra G</h2>
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S522579@mail.nwmissouri.edu"> S522579@mail.nwmissouri.edu</a>
        <br /><br />
        <img  src="~/images/mani11.jpg"  align="right" width="450px;" height="300px;">
       
        Student
        <br />
        MS-ACS
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">2280 Colden Hall</a><br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.facebook.com/SonOfRajender">Facebook</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://mail.google.com/mail/u/0/?tab=wm#inbox">GMAIL</a></li>


    </ul>
    <br />

    <h2>Link</h2>
    <ul>
        <li><a href="http://disney.wikia.com/wiki/Aladdin">Wikia</a></li>
        <li><a href="http://www.imdb.com/title/tt0103639/">IMDB -Alladin</a></li>
    </ul>
    <br />

    <div class="fullpic">
        <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/mani1.gif" alt="Alladin" />
    </div>


</div>

