﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body style="background-image:url('http://s8.postimg.org/hi371spr9/img_1.jpg')"></body>

    <br />
    <br />
    <div class="jumbotron" style="align-items:center; background-color:black;">
        <p style="margin-left:420px;color:whitesmoke;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:30px">Pranay Peddi</p>
        <img src="http://s11.postimg.org/4a0d1o7gz/Picture_3.jpg" class="img-responsive img-circle" style="height: 40%; width: 35%; align-self:center;margin-left:340px; position:center" />
        <br />
        <p style="margin-left:460px;color:whitesmoke">Developer</p>
        <p style="margin-left:300px; color:whitesmoke">115 N Dunn Street, Maryville, Missouri - 64468</p>

        <hr style="background-color:whitesmoke; border:0; height:1px" />
        <br />

        <table border="0" style="margin-left:29%;width:50%" cellspacing="100">
            <tr>
                <td><a href="mailto:S525083@mail.nwmissouri.edu"><img src="http://s23.postimg.org/q6yng47lj/MS_Outlook_48.png" /></a></td>
                <td><a href="https://www.facebook.com/pranay.peddi"><img src="http://s11.postimg.org/t2ngcj0zz/Facebook_48.png" /></a></td>
                <td><a href="https://twitter.com/peddipranay"><img src="http://s11.postimg.org/inlvhct73/Twitter_48.png" /></a></td>
                <td><a href="https://plus.google.com/getstarted/getstarted?fww=1&continue=https://plus.google.com/me"><img src="http://s13.postimg.org/wxkk0uker/Google_Plus_48.png" /></a></td>
                <td><a href="https://www.linkedin.com/in/peddi-pranay-90626360"><img src="http://s14.postimg.org/a6v6vjkt9/Linked_In_48.png" /></a></td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <br />
    <br />
