

<div class="denisecase">
    <h2>@ViewData["Title"].</h2>
    
</div>
<div class="dcband">
    <canvas id="dccanvas" width="100%" height="100%"></canvas>
</div>

<div class="denisecase">
    <address>
        <h3> Sai Naveen Mallampati </h3>
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S525051@nwmissouri.edu">S525051@nwmissouri.edu</a>
        <br /><br />

        Graduate Student
        <br />
        Applied Computer Science
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

       
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.facebook.com/naveen.mallampati.1">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/sai-naveen-mallampati-b1714295?trk=nav_responsive_tab_profile">LinkedIn</a></li>
        <li><a href="https://twitter.com/SaiNaveenM">Twitter</a></li>
        
    </ul>
    <br />

    <h2>Links</h2>
    
    <br />

    <div class="fullpic">
        <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/colden.png" alt="On Colden Pond" />
    </div>


</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(function () {

            var canvas = document.getElementById("dccanvas");
            var context = canvas.getContext('2d');
            var fillcolor = 'Gainsboro'
            var linecolor = 'Crimson';
            var cycle_ms = 50;
            var mincount = 80;
            var maxcount = 120;

            canvas.width = window.innerWidth;

            var dots = {
                count: (canvas.width < 600 ? mincount : maxcount),
                array: []
            };

            function Dot() {
                this.center_x = Math.random() * canvas.width;
                this.center_y = Math.random() * canvas.height;
                this.deltaX = -.5 + Math.random();
                this.deltaY = -.5 + Math.random();
                this.radius = Math.random() * 5;
            }

            Dot.prototype = {

                create: function () {
                    context.fillStyle = fillcolor;
                    context.strokeStyle = linecolor;
                    context.lineWidth = .1;
                    context.beginPath();
                    context.arc(this.center_x, this.center_y, this.radius, 0, Math.PI * 2, false);
                    context.fill();
                    context.stroke();
                },

                animate: function () {
                    for (var i = 0, dot = false; i < dots.count; i++) {
                        dot = dots.array[i];

                        if (dot.center_y < 0 || dot.center_y > canvas.height) {
                             dot.deltaY = -dot.deltaY;
                        } else if (dot.center_x < 0 || dot.center_x > canvas.width) {
                            dot.deltaX = -dot.deltaX;
                        }
                        dot.center_x += dot.deltaX;
                        dot.center_y += dot.deltaY;
                    }
                },


            };

            function createDots() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                for (var i = 0; i < dots.count; i++) {
                    dots.array.push(new Dot());
                    dot = dots.array[i];
                    dot.create();
                }
                dot.animate();
            }
            window.setInterval(createDots, cycle_ms);

        });
    </script>
}
