
﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/VeerapratapPutta.css" />
</head>

<body>
    <div class="pratap-backGround">
        <div class="pratap-txtColor">
            <div>
                <img style="float:right" src="~/images/pratap-profile.jpg" />
            </div>
            <br />
            <br />

            <h2 style="margin-left:25%"> @ViewData["Title"] </h2>
            <h3 style="margin-left:25%"> @ViewData["Protip"]</h3>
        </div>

        <div class="sowmya-textColor">
            <address>
                Putta Veerapratap Nadh
                <br />
                <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S525096@mail.nwmissouri.edu"> S525096@mail.nwmissouri.edu</a>
                <br /><br />

                Applied Computer Science
                <br />
                <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
                <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
                <br />

                1121 North College Drive<br />
                <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
                <br />
                <br />
                <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                    <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
                </a>
                <br />
            </address>

            <h2>Connections</h2>
            <ul>
                <li><a href="https://twitter.com/pratapnadh">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/pratap-nadh-7589012b">LinkedIn</a></li>
            </ul>
            <br />

        </div>
    </div>
</body>
</html>
