﻿@{

}
<html>
<head>
    <style>
        body{
            background-image: url("http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg");
             width:100%; 
             height:100%; 
             background-repeat:no-repeat; 
             background-size:cover;
           }
        /*body {
            background-color:bisque;
        }*/

    </style>
</head>
<body>
    <div class="Gunnammagari">
        <h2>@ViewData["Title"].</h2>
        <h3 style="color : white"><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
    </div>


    <div class="Gunnammagari">
        <address>
            <div>
                <img src="~/images/091.JPG" alt="image" style="width:304px;height:228px;float:right">
            </div>
            <Strong style="color : white">Kiran Kumar </Strong>
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s522583@mail.nwmissouri.edu"> s522583@mail.nwmissouri.edu</a>
            <br /><br />

            <span style="color : white">Graduate student</span>
            <br />
            <span style="color : white">Applied Computer science</span>
                <br />
                <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
                <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
                <br />

                <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
                <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
                <br />
                <br />
                <a target="_blank" title="follow us on facebook" href="https://www.facebook.com">
                    <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
                </a>
                <br />
</address>

        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100001218729453">Facebook</a></li>
            <li><a href="https://www.instagram.com/kirankmr/">Instagram</a></li>


        </ul>
        <br />

        <h2>Links</h2>
        <ul>
            <li><a href="http://color.hailpixel.com">Color by Hail Pixel</a></li>
        </ul>
        <br />

        <div class="fullpic">
            <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/deers.jpg" alt="Deers" />
        </div>


    </div>
</body>
</html>