﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <div class="jumbotron" style="background-image: url('../images/backgroundsardar1.jpg')">
            <div class="container-fluid">        
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">

                        <div class="jumbotron" style="background-image: url('../images/profilejumbo.jpg')">
                            <div>
                               <h2>@ViewData["Title"]</h2>
                            </div>
                            <div class="fb-follow" data-href="https://www.facebook.com/sumair.khan.58958" data-width="32px" data-height="80px" data-layout="button" data-show-faces="false"></div>                                <a href="#"></a>
                            <a href="https://www.instagram.com/sumair_khan93/?ref=badge" class="ig-b- ig-b-24"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a>
                            <a href="https://in.linkedin.com/pub/mohammed-sardar/71/593/b07">
                                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="100" height="25" border="0" alt="View Mohammed Sardar's profile on LinkedIn">
                            </a>
                                
                            
                            <!--The main division for profile-->
                            <div>
                                <div>
                                    <img class="img-responsive img-circle" style="display:block;overflow: hidden;margin: 0 auto;margin-bottom: 20px;position: relative;background-position:center; width:35%; height:35%" src="~/images/ProfilePic.jpg" />
                                </div> 
                                <div class="vcard-profile-description">
                                    <h3 class="profile-title">Hi, I'm <span class="color1" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Mohammed Sardar!</span></h3>
                                    <h3 class="profile-subtitle">Developer & Web-Design Enthusiast</h3>
                                    <hr />
                                    <div class="vcard-profile-description-text">
                                        <p>
                                            Graduate student in Northwest Missouri State University and currently enrolled in App Development using C#. 
                                            I enjoy playing with design in web pages and exploring new approaches. Bootstrap has been an amazing technology for me
                                            down this journey of modifying my profile page and I believe it is very powerful and efficient. 
                                            I would really like to take up web design as my career and improve my skills in that discipline.  
                                            <br /><span class="color1">All the best for your endeavours!   </span> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                           <!--Here is the jumbostron for contact-->
                            <div style="background-image: url('../images/jumbotronBackground.jpg')">
                                <div class="vcard-profile-description-ft-item">
                                    <p style="color:white;font-size:20px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:500; padding: 35px;padding-top:5px;padding-bottom:8px;">email: S525061@mail.nwmissouri.edu / phone +1660-525-5117</p>
                                </div>
                            </div> 
                        </div>
                        <div class="jumbotron">
                            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: lightseagreen">My Story with Microsoft!</h2>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/CIRorMo4BL0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        





       








