﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <div class="Prateek">
        <br />

        <h2>@ViewData["Title"].</h2>
        <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
    </div>

    <div class="Prateek">
        <address>
            Ravilla Prateek
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s524101@nwmissouri.edu"> Prateekravilla@nwmissouri.edu</a>
            <br /><br />
Student at North West Missouri State Universityx
            <br />
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Masters in Applied Computer Science</a>
            <br />
         <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                <img alt="follow us on facebook" src="~/images/a4.png" border="0"> </a>
          </address>

        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/prateek-ravilla-357484114?trk=nav_responsive_tab_profile">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/prateek.ravilla">Facebook</a></li>
            <li><a href="https://twitter.com/prateekravilla1">twitter</a></li>
            
        </ul>
        <br />

    </div>

