﻿@{

}

<div class="Kethireddy" style="background-image:url('../images/background9.jpg') ">
    <div>
        <img align="right" style="width:300px; " height:400px;" src="~/images/Rohan.jpg" />
    </div>
    <br />
    <body style="background-color : #AFD6E4">
    </body>
    <div class="Thummala">
        <h2>@ViewData["Title"].</h2>
        <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
    </div>
    

    <div class="Thummala">
        <address>
            RohanReddy Thummala
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s522629@mail.nwmissouri.edu"> s522629@mail.nwmissouri.edu</a>
            <br /><br />

            Graduate student
            <br />
            Applied Computer science
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />

            <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
            <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/rohan.thummala">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.facebook.com/rohan.thummala">Facebook</a></li>
            <li><a href="https://twitter.com/thummalarohan">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/rohan-thummala-860b0921?trk=nav_responsive_tab_profile">LinkedIn</a></li>

        </ul>
        <br />

        <h2>Links</h2>
        <ul>
            <li><a href="http://color.hailpixel.com">Color by Hail Pixel</a></li>
        </ul>
        <br />

        <div class="fullpic">
            <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/road.png" alt="Road" />
        </div>
  </div>
</div>

   