﻿@{

}


<div class="Kethireddy" style="background-image:url('../images/green.png') ">
    <div>
        <img align="right" style="width:300px; " height:400px;" src="~/images/Satvik.jpg" />
    </div>
    
    <br />
    <body style="background-color : ##C37F4B">
    </body>
    <div class="Kethireddy">
        <h2>@ViewData["Title"].</h2>
        <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
    </div>
    <div class="Kethireddy">
        <br /><br />
        <address>
            Bhanu Satvik Reddy Kethireddy
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s522592@mail.nwmissouri.edu"> s522592@mail.nwmissouri.edu</a>
            <br /><br />
            Graduate student
            <br />
            Applied Computer science
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />

            <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
            <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/satvik.kethireddy">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>
        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.facebook.com/satvik.kethireddy">Facebook</a></li>
            <li><a href="https://twitter.com/satvik1008">Twitter</a></li>
            <li><a href="https://www.instagram.com/satvikkethireddy/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/satvik-kethireddy-1b88925b?trk=hp-identity-headline">LinkedIn</a></li>
        </ul>
        <h2>Links</h2>
        <div class="fullpic">
    <img src="~/images/circles.gif" align="middle" width="350px;" height="300px;" />
</div>
        <ul>
            <li><a href="http://www.tajmahal.com/">Taj Mahal-7 th Wonder of the World</a></li>
            <li><a href="https://www.youtube.com/watch?v=j95xFKw0GA8">About Taj Mahal</a></li>
        </ul>
        <br />
        <div class="fullpic">
            <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/tajmahal.jpg" alt="Taj Mahal Image" />
        </div>
    </div>
</div>
