﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>@ViewData["Title"]</h2>

<div class="jumbotron" style="background-image: url('../images/Background.jpg')">
    <h2 style="color:white">Tarakesh Gogi</h2>
    <div style="color:white">
        Graduate student and a technology enthusiast!
        <br />
        Major-Applied Computer science
        <br />
        <a style="color:white" href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a style="color:white" href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />
    </div>
   <br />
    <br />
   <div style="color:white">You can find me at...<br />
       <a style="color:white" href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
       <a style="color:white" href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
       <br />
       <br />
    </div>
    
    <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/tarakesh.gogi">
        <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
    </a>
    <br />
  

    <h2 style="color:white">Connections</h2>
    <ul style="color:white">
        <li><a style="color:white" href="">Facebook</a></li>
        <li><a style="color:white" href="">Twitter</a></li>
        <li><a  style="color:white" href="">LinkedIn</a></li>
    </ul>
    <br />
    <div class="jumbotron">
        <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: lightseagreen">Google Project Soli!</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/0QNiZfSsPc0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


