﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A04</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="fb-root"></div>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Class View Practice</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="align-content:flex-start">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <!--Team-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team" asp-action="Denisecase">Denise Case</a></li>
                            <li><a asp-controller="Team" asp-action="KrishnaPainuly">Krishna Painuly</a></li>
                            <li><a asp-controller="Team" asp-action="Manasabojja">Manasa Bojja</a></li>

                        </ul>
                    </li>
                    <!--Team01-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team 1
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team1" asp-action="AnveshkumarKolluri">Anveshkumar Kolluri</a></li>
                            <li><a asp-controller="Team1" asp-action="RaihanAhmed">Raihan Ahmed</a></li>
                            <li><a asp-controller="Team1" asp-action="Saikrishna">Saikrishna Chinthapatla</a></li>
                            <li><a asp-controller="Team1" asp-action="ChandrakanthPodishetty">Chandrakanth Podishetty</a></li>
                            <li><a asp-controller="Team1" asp-action="ManindraNareshKumar">Manindra Naresh Kumar Mamidibathula</a></li>
                            <li><a asp-controller="Team1" asp-action="Jagadeesh">Jagadeesh Babu Basimsetty</a></li>
                        </ul>
                    </li>

                    <!--Team02 -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team 2
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">  
                            <li><a asp-controller="Team02" asp-action="BhavanaPilli">Bhavana Pilli</a></li>
                            <li><a asp-controller="Team02" asp-action="SowmyaLakkireddy">Sowmya Lakkireddy</a></li>
                            <li><a asp-controller="Team02" asp-action="KoppuNagaPrasad">Naga Prasad Gupta Koppu</a></li>
                            <li><a asp-controller="Team02" asp-action="RameshPasupuleti">Ramesh Pasupuleti</a></li>
                            <li><a asp-controller="Team02" asp-action="Imaduddin">Mohammad Imaduddin</a></li>
                        </ul>
                    </li>
                    <!--Team03-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team 3
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team3" asp-action="Abhinaya">Abhinaya</a></li>
                            <li><a asp-controller="Team3" asp-action="Pranay">Pranay</a></li>
                            <li><a asp-controller="Team3" asp-action="SaiNaveen">Sai Naveen</a></li>


                            <li><a asp-controller="Team3" asp-action="">Manichandra</a></li>

                            <li><a asp-controller="Team3" asp-action="Mani">Manichandra</a></li>

                            <li><a asp-controller="Team3" asp-action="VeerapratapPutta">Veerapratap Putta</a></li>
                        </ul>
                    </li>

                    <!--Team04-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Fortis Five-Team4
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team4" asp-action="SatyaRadhaAddala">Satya Radha Addala</a></li>
                            <li><a asp-controller="Team4" asp-action="Kowshik">Kowshik  Morishetty</a></li>
                            <li><a asp-controller="Team4" asp-action="Vamshinath">Vamshinath Nallamothu</a></li>
                            <li><a asp-controller="Team4" asp-action="Sandeep">Sandeep Varma Rudraraju</a></li>
                            <li><a asp-controller="Team4" asp-action="Ramya">Ramya V Sankara</a></li>
                        </ul>
                    </li>


                    <!--Team05-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team 5 - The Dark Knights
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team5" asp-action="Sharanya">Sharanya</a></li>
                            <li><a asp-controller="Team5" asp-action="Vijay">Vijay Gopi</a></li>
                            <li><a asp-controller="Team5" asp-action="NadeemAnsari">Nadeem Ansari</a></li>
                            <li><a asp-controller="Team5" asp-action="SupremRaju">Suprem Raju</a></li>
                            <li><a asp-controller="Team5" asp-action="Ashishpandey">Ashish Pandey</a></li>
                        </ul>
                    </li>

                    <!--Team06-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team 6
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team6" asp-action="MohammedSardar">Mohammed Sardar</a></li>
                            <li><a asp-controller="Team6" asp-action="Satvik">Bhanu Satvik Reddy</a></li>
                            <li><a asp-controller="Team6" asp-action="Rohan">Rohanreddy Thummala</a></li>
                            <li><a asp-controller="Team6" asp-action="TarakeshGogi">Tarakesh Gogi</a></li>
                            <li><a asp-controller="Team6" asp-action="Kiran">Kiran Kumar</a></li>
                            <li><a asp-controller="Team6" asp-action="Prateek">Prateek Ravilla</a></li>
                        </ul>
                    </li>
                    <!--Team07-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Team 7 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Team7" asp-action="pradeep">Pradeep</a></li>
                            <li><a asp-controller="Team7" asp-action="Priyanka">Priyanka</a></li>
                            <li><a asp-controller="Team7" asp-action="Preethi">Preethi</a></li>
                            <li><a asp-controller="Team7" asp-action="Srikanth">Srikanth</a></li>
                            <li><a asp-controller="Team7" asp-action="manoj">Manoj</a></li>
                            <li><a asp-controller="Team7" asp-action="Rahul">Rahul</a></li>
                        </ul>
                    </li>
                    <!--Team08-->
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 6%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - A04</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/denisecase.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/denisecase.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
