﻿
@{

}

<div class="Chandrakanth_bg">

    <div>
        <img Style="float:right;width:300px;height:300px" src="~/images/Chandu.PNG" />
    </div>
    <h2>@ViewData["Title"]</h2>


    <div class="mybio">

        <br />
        <h3><b>Chandrakanth Podishetty</b></h3>
        <br /> <p>
            chandrakanth218@gmail.com:
            <a href="mailto:s522612@mail.nwmissouri.edu">  <span class="glyphicon glyphicon-envelope"> </span></a>
        </p>
        <br />
        <b>Graduate Student at Northwest Missouri State University</b>
        <br />
        <b>
            Masters of Applied computer science
        </b>
        
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/chandu.podisetty">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />

        <h2>Network</h2>
        <ul>

            <li><a href="https://twitter.com/chandu84062352">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/chandrakanth-podishetty">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/chandu.podisetty">Facebook</a></li>

        </ul>
        <br />
        <br />
    </div>
</div>