﻿@{

}

<div class="Jagadeesh" style="background-color:">
    <h2>About Jaagadeesh Basimsetty</h2><img src="~/images/quote.gif" alt="quote"/>
    <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
</div>

          
            <marquee scrollamount="18" behavior="alternate">
                <h3>Team1</h3> 
            </marquee>

<div class="Jagadeesh">
    <address>
        Jagadeesh Babu Basimsetty
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S522563@mail.nwmissouri.edu"> S522563@mail.nwmissouri.edu</a>
        <br /><br />
        Student
        <br />
        MS-ACS
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">2280 Colden Hall</a><br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.facebook.com/jb.jagadeesh">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/JagadeeshBasimsetty">LinkedIn</a></li>
        <li><a href="https://mail.google.com/mail/">GMAIL</a></li>
    </ul>
    <h2>Links</h2>
    <ul>
        <li><a href="https://www.google.com/maps/place/Vijayawada,+Andhra+Pradesh+520001,+India/data=!4m2!3m1!1s0x3a35eff9482d944b:0x939b7e84ab4a0265?sa=X&ved=0ahUKEwj1v6vPuefKAhXF6SYKHVZBBeMQ8gEIHDAA">My Home town</a></li>
    </ul> Me.
    <img src="~/images/jagadeesh.jpg" alt="home town" />
    <br />
    

</div>
