﻿@{

}
<body style="background-image:url('/images/bgi.jpg')">
<br/>
    <div>
        <img align="middle"  src="~/images/per.jpg" />
    </div>
    
<div style="color:white" class="manindranareshkumar">
    
    <br />  
    <h2>@ViewData["Title"]</h2>
</div>

<div style="color:white" class="manindranareshkumar">
    <address>
<div></div>
        <br />        
<b style="color:white">Manindra Naresh Kumar</b>
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s525248@mail.nwmissouri.edu">  manindra48@gmail.com</a>
        <br /><br />
        Graduate Student at Northwest Missouri State University
        <br />
        Masters of Applied computer science
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/manindra.naresh">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>
    <h2>Network</h2>
    <ul>
       
        <li><a href="https://twitter.com/manindra48">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/manindra-naresh-9683086b">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/manindra.naresh">Facebook</a></li>

    </ul>
    <br />
    <br />
</div>
</body>