﻿@{

}


<div class="jumbotron" style="background-image: url('../../../images/Iron-Man-Pictures.jpg')">

    <div class="raihanahmed">
        <h2 style="color:white;text-align:center">@ViewData["Title"].</h2>

    </div>
    <div class="raihanahmed">
        <address>
            <div>
                <img src="~/images/Raihan's Iron Man Title.png" />
            </div>
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s525060@mail.nwmissouri.edu"> S525060@mail.nwmissouri.edu</a>
            
            <p style="color:white;font-size:18px">Graduate Student </p>
            <p style="color:white; font-size:18px">
                Masters' in Applied Computer Science</p>
                
                <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
                <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
                <br />
                <a href="https://www.google.com/maps/place/Horizons+West+Apartments">Horizons West Apartments</a><br />
                <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
                <br />
                <br />
                <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/raihan.ahmed.9083">
                    <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
                </a>
                <br />
</address>
        <h2 style="color:white">Find Me On</h2>
        <ul>
            <li><a href="https://twitter.com/MRAihan44">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/mraihanahmed">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/raihan.ahmed.9083">Facebook</a></li>
        </ul>
        <br />


    </div>



</div>

    