﻿

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>

    #hi {
    color: green;
    }

    #head {
    color: orangered;
    }

    #gr {
    color: green;
    }
    body  {
    background-image: url("dackgrnd.jpg");
    background-color: #cccccc;

    }
    </style>


    


</head>
        



  

<body class="container">
    <br/>
    <h1>Hi Bearcats (Hola binturong)</h1>
    
   <br/>        
          
    <div class="col-sm-4">  <h1 id="head"> Sigh Krihsh-nah(iswar) </h1></div>
    <div class="col-sm-4">
        <img style='height: 50%; width: 50%;  object-fit: contain' src="~/images/pic.jpg" alt="download" />
    </div>
    <br /><br />
    <table>
        <tr id="gr">
            <th width="520px" ><h1>Education</h1></th>
            <th width="250px"><h1>Work</h1></th>
            <th width="250px"><h1>Personal</h1></th>
        </tr>
        <tr>
            <td >Graduate Student in Applied Computer Science,<br />
            Department of Mathematics,Computer Science and Information Systems<br />
                College of Arts and Sciences,<br />
                <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
               
            </td>
            <td>Gradaute Assistant ,Department of Natural Science<br />
                Email
                S522570@nwmissouri.edu
                Office
                3875 Garrett-Strong
                Phone
                660.562.1388
                660.562.1188 (fax)
                Joined Northwest in 2015
            </td>
            <td>
                             Publicist , Association Of computer Machinery<br />
                Student Worker ,Lutherean Campus Center <br />
                                Project Manager,Aquivera Intern,CIE
                <a href="https//www.facebook.com/aquivera/?fref=ts">Connect With Aquivera</a>
                <br>
                Email:Sai28593@gmail.com

            </td>
        </tr>
       
    </table>
    <div id="me">
        Follow me in :
        <ul>
            <li><a href="https://nwmissouri.collegiatelink.net/">Be a Bearcat</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
             <li><a href="https://www.facebook.com/Saikrishna.ch">Facebook</a></li>
        </ul>
    </div>
  
    <br />
               
         
 
</body>
</html>

