﻿@{

}
<div class="aboutManoj">
    <div class="areManojSection">
        <div>
            <h2>@ViewData["Title"].</h2>
        </div>
        <div>
            <address>
                Manoj Are
                <span class="glyphicon glyphicon-envelope"> </span><a href="s524969@mail.nwmissouri.edu"> s524969@mail.nwmissouri.edu</a>
                <br /><br />

                Graduate Student at Northwest State University
                <br />
                Masters of Applied Computer Science
                <br />
                <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
                <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
                <br />
                <a href="https://www.google.com/maps/place/Maryville,+MO/data=!4m2!3m1!1s0x87eac4e050377d9d:0x6992857ebaf03d59?sa=X&ved=0ahUKEwiH1_2QkOTKAhXMRCYKHX0KCDgQ8gEIejAL">Maryville, MO 64468</a>
                <br />
                <br />
                <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/manoj.are/">
                    <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
                </a>
                <br />
            </address>

            <h2>Connections</h2>
            <ul>
                <li><a href="https://www.facebook.com/manoj.are/">facebook</a></li>
            </ul>
            <br />
        </div>
    </div>
    <span><img src="~/images/manoj.png" /></span>
</div>