﻿@{

}
<div style="background-image:url('/images/pback.jpg')">
    <br />
    <br />
    <h2>@ViewData["Title"].</h2>
</div>
<div>
    <address>

        <img src="~/images/pradeep.jpg" border="0">
        <br />
        <br />

        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S525072@mail.nwmissouri.edu"> S525072@mail.nwmissouri.edu</a>
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
    </address>

    <div style="float:left">
        <h2>Connections</h2>
        <img src="~/images/plinkedin.png" border="0"><a href="https://www.linkedin.com/in/pradeep-nandyala-19bb483b">  Linkedin</a>
        <img src="~/images/pfacebook.png" border="0"><a href="https://www.facebook.com/pradeep.reddynandyala">  Facebook</a>
        <img src="~/images/ptwitter.png" border="0"><a href="https://www.facebook.com/pradeep.reddynandyala"> Twitter</a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />




</div>
