﻿@{

}
<body style="background-image:http://s24.postimg.org/uu2d4wsr9/fresh_green_background.jpg" >
<div class="Preethi">
    <h2>@ViewData["Title"].</h2>
</div>
<div class="Preethi"> 
   <img width="25%" height="40%" src="~/myimage.jpg" />
    <address>
        Preethi
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="preethireddy73@gmail.com"> preethireddy73@gmail.com</a>
        <br /><br />

        Graduate Student at Northwest State University
        <br />
        Masters of Applied Computer Science
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />
        <a href="https://www.google.com/maps/place/Maryville,+MO/data=!4m2!3m1!1s0x87eac4e050377d9d:0x6992857ebaf03d59?sa=X&ved=0ahUKEwiH1_2QkOTKAhXMRCYKHX0KCDgQ8gEIejAL">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.facebook.com/">facebook</a></li>
    </ul>
    <br />




</div>
</body>