﻿@{

}
<div class="priya-addBackGround">
    <div class="priya-textColor">
        <div>
            <img style="float:right" src="~/images/pri.jpg" />
        </div>
        <br />
        <br />

            <h2>@ViewData["Title"].</h2>
        </div>
        <div class="priya-textColor">
            <address>
                Priyanka Kommula
                <br />
                <span class="glyphicon glyphicon-envelope"> </span><a href="priyankakommula45@gmail.com"> priyankakommula45@gmail.com</a>
                <br /><br />

                Graduate Student at Northwest State University
                <br />
                Masters of Applied Computer Science
                <br />
                <a class="pri" href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
                <br>
                <a class="pri" href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
                <br />
                <a class="pri" href="https://www.google.com/maps/place/Maryville,+MO/data=!4m2!3m1!1s0x87eac4e050377d9d:0x6992857ebaf03d59?sa=X&ved=0ahUKEwiH1_2QkOTKAhXMRCYKHX0KCDgQ8gEIejAL">Maryville, MO 64468</a>
                <br />
                <br />
                <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/priyanka.kommula.1">
                    <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
                </a>
                <br />
            </address>

            <h2>Connections</h2>
            <ul>
                <li><a class="pri" href="https://www.linkedin.com/in/priyanka-kommula-59b935111?trk=nav_responsive_tab_profile">LinkedIn</a></li>
                <li><a class="pri"  href="https://www.facebook.com/priyanka.kommula.1">facebook</a></li>
            </ul>
            <br />




        </div>
