<<<<<<< HEAD
﻿@{

}

<div class="denisecase">
    <h2>@ViewData["Title"].</h2>
    <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
</div>
<div class="dcband">
    <canvas id="dccanvas" width="100%" height="100%"></canvas>
</div>

<div class="denisecase">
    <address>
        Rahul Veer Simhadri
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S522621@mail.nwmissouri.edu"> dcase@nwmissouri.edu</a>
        <br /><br />

        Graduate Student
        <br />
        Northwest Missouri state University
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/rahulveer.simhadri">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home">LinkedIn</a></li>

    </ul>
    <br />

</div>
=======
﻿@{

}

<div class="container" style="background-color : antiquewhite">
   <div>
     <div class="col-md-6">
        <h2>@ViewData["Title"].</h2>
        <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
         <h3> KAKTHIYA HIGH SCH OOL - SSC</h3>
         <h3> SRI CHAITHANYA - INTER</h3>
         <h3> KLC -  B.TECH</h3>
        
    </div>
        <div class="col-md-6">
            <img alt="follow us on facebook" src="~/images/Rahul.jpg">
        
        </div>
</div>


<div class="denisecase">
    <address>
        Rahul Veer Simhadri
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S522621@mail.nwmissouri.edu"> S522621@mail.nwmissouri.edu</a>
        <br /><br />

        Graduate Student
        <br />
        Northwest Missouri state University
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/rahulveer.simhadri">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home">LinkedIn</a></li>

    </ul>
    <br />

</div>
    </div>
>>>>>>> 188f2b2b831d7b9d8973f057e360fc69699ea669
