﻿@{

}

<div class="prad">
    <h2>@ViewData["Title"].</h2>
</div>
<div class="dcband">
    <canvas id="dccanvas" width="100%" height="100%"></canvas>
</div>

<div class="prad">
    <address>
        Srikanth Chippa
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S524991@mail.nwmissouri.edu"> S524991@mail.nwmissouri.edu</a>
        <br /><br />

        Graduate Student
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/srikanth.ch.7792">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.linkedin.com/in/chippasrikanth" >LinkedIn</a></li>

    </ul>
    <br />

</div>


