﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="kowshik" class="kowshik">
    <div>
        <br />
        <h2>@ViewData["Title"].</h2>
    </div>

    <div class="leftDiv">
        <address>
            <h2>Kowshik Morishetty</h2>
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s525065@nwmissouri.edu"> KowshikMorishetty@nwmissouri.edu</a>
            <br /><br />
            Graduate Student<br />
            Northwest Missouri State University
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Masters in Applied Computer Science</a>
            <br />

            <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.facebook.com/kowshik.morishetty">Facebook</a></li>
            <li><a href="https://bitbucket.org/s525065/">Bitbucket</a></li>
        </ul>
        <br />

    </div>
    <div class="rightDiv">
        <img src="~/images/kowshik.jpg" style="width:50%; height:100%; float:right;" />
    </div>
    <div class="clearfix"></div>

</div>

