﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="add_image" style="background-image:url('../images/ramya1.jpg'); height:90em">
    
            <div class="ramya">
            <br />
            <h2 style="color:crimson"> <center> @ViewData["Title"] </center> </h2>
            <h3 style="color:darkblue; font-family:'Comic Sans MS'"><b>  @ViewData["Protip"] </b> </h3>
            
                <div style="float:right; width:40%">

                    <img src="~/images/ramya.jpg" width="250" height="250" style="border:double" />

                </div>

            <div class="ramya" style="color:cornflowerblue">
                <address>
                    Mail Me!!
                    <br />
                    <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s525107@nwmissouri.edu"> S525107@mail.nwmissouri.edu </a>
                    <br />
                    Graduate Student
                    <br />
                    <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Masters in Applied Computer Science</a>
                    <br />
                    <a href="http://www.nwmissouri.edu/"><b>Northwest Missouri State University </b></a>
                    <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
                    <br />
                    <br />
                    <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
                    <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                    </a>
                    <br />
                </address>
                <h2 style="color:black">Connections <span class="glyphicon glyphicon-bell"></span> </h2>
                <ul>
                    <li><a href="https://www.linkedin.com/in/">LinkedIn</a></li>
                    <li><a href="https://www.facebook.com/ramya.sankara">Facebook</a></li>
                    <li><a href="https://bitbucket.org/">Bitbucket</a></li>
                    <li><a href="https://google.com">Google</a></li>
                </ul>
                <br />


            </div>
        </div>
