
﻿@{

}

<div class="Rudraraju">
    <h2>@ViewData["Title"]</h2>
    <div>
        <img src="~/images/minion1.jpg" align="right" width="300px;" height="300px;" />
    </div>
</div>
<div class="Rudraraju">
    <br /><br />
    <address>
        <h2>Sandeep Varma</h2>
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S522619@mail.nwmissouri.edu"> S522619@mail.nwmissouri.edu</a>
        <br /><br />
        Graduate Student
        <br />
        Applied Computer Sciences
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <body style="background-color : #F4F8FB">
        </body>
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/sandyzcool">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />

        <br />

    </address>
    <h2>Connections</h2>
    <div>
        <img src="~/images/minion12.jpg" align="right" width="300px;" height="300px;" />
    </div>
    <ul>
        <li><a href="https://www.facebook.com/sandyzcool">Facebook</a></li>
        <li><a href="https://mail.google.com/mail/u/0/#inbox">Gmail</a></li>
        <li><a href="https://www.instagram.com/sandeep_varma_1022/">Instagram</a></li>
    </ul>
    <br />
    <h2>My Videos</h2>
    <ul>
        <li><a href="http://www.minionsmovie.com/minions.html">Love Minions</a></li>
        <li><a href="https//www.youtube.com/watch?v=o8F2SaBbQNc">Minions Mini Movie</a></li>
    </ul>
    <br />
    <div class="fullpic">
        <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/minions1.gif" alt="Minions Image" />
    </div>
</div>
=======
﻿@{

}

<div class="Rudraraju">
    <h2>@ViewData["Title"]</h2>

</div>
<div class="Rudraraju">
    <br /><br />
    <div>
        <img src="~/images/sandeep1.jpg" align="right" width="400px;" height="500px;" />
    </div>
    <address>
        <h2>Sandeep Varma</h2>
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S522619@mail.nwmissouri.edu"> S522619@mail.nwmissouri.edu</a>
        <br /><br />
        Graduate Student
        <br />
        Applied Computer Sciences
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <body style="background-color : #F4F8FB">
        </body>
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/sandyzcool">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
        <br />
    </address>
    <h2>Connections</h2>
    <ul>
        <li><a href="https://www.facebook.com/sandyzcool">Facebook</a></li>
        <li><a href="https://mail.google.com/mail/u/0/#inbox">Gmail</a></li>
        <li><a href="https://www.instagram.com/sandeep_varma_1022/">Instagram</a></li>
    </ul>
    <br />
    <h2>My Videos</h2>
    <ul>
        <li><a href="http://www.minionsmovie.com/minions.html">Love Minions</a></li>
        <li><a href="https//www.youtube.com/watch?v=o8F2SaBbQNc">Minions Mini Movie</a></li>
    </ul>
    <br />
    <div>
        <img src="~/images/Minions2.jpg" align="right" width="300px;" height="300px;" />
    </div>
    <div class="fullpic">
        <img src="~/images/minions1.gif" align="left" width="350px;" height="300px;" />
        <img src="~/images/minion1.jpg" align="middle" width="350px;" height="300px;" />
        <img src="~/images/minion12.jpg" align="right" width="350px;" height="300px;" />
    </div>
</div>

