﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="add_image" style="background-image:url('../images/bg.jpg')">


    <div class="satyaradhaaddala" >

        <h2>@ViewData["Title"]</h2>
        <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewData["Protip"]</h3>
        Previously Game Developer, Software Consultant
        <address>            
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s524959@nwmissouri.edu"> SatyaRadhaAddala@nwmissouri.edu</a>
            <br /><br />
            
            Now Student at North West Missouri State University
            <br />

            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Masters in Applied Computer Science</a>
            <br />

            <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            One of the Game Developed by me : Click the image to see the video
            <br />
            <a target="_blank" title="Game developed by me" href="https://www.youtube.com/watch?v=JsPiKWgtZJY">
                <img alt="Flick Sport Fishing" src="~/images/icon.jpg" width="100" height="100" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/satya-radha-addala-63913795">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/radha.addala">Facebook</a></li>
            <li><a href="https://bitbucket.org/radhaaddala">Bitbucket</a></li>
        </ul>
        <br />

    </div>

</div>
