﻿
@{

}

<div>
    <h2>@ViewData["Title"].</h2>

</div>

<h3> Vamshinath Nallamothu </h3>

<address>

    <br />
    <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S525069@nwmissouri.edu">S525069@nwmissouri.edu</a>
    <br /><br />

    Graduate Student
    <br />
    Applied Computer Science
    <br />
    <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
    <br>
    <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
    <br />


    <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
    <br />
    <br />
    <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
        <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
    </a>
    <br />
</address>

<h2>Connections</h2>
<ul>
    <li><a href="https://www.facebook.com/vamshi.nath.5">Facebook</a></li>
    <li><a href="https://www.linkedin.com/in/vamshinath-nallamothu-29a883106?trk=hp-identity-name">LinkedIn</a></li>
    

</ul>
<br />

<h2>Links</h2>

<br />

<div class="fullpic">
    <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/nwms.png" alt="On Colden Pond" />
</div>




