﻿@{

}

<div>
    <h2>@ViewData["Title"].</h2>
</div>

<div class="ashishpandey" >
    <div> 
        <img align="right" style="width:60%;  height:60%;" src="~/images/IMhb.jpg" />
    </div>
    <address>
        Ashish Pandey
        <br />
       
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s525078@mail.nwmissouri.edu"> ashish.pandey@mail.nwmissouri.edu</a>
        <br /><br />

        Graduate Student - With much pride
        <br />
        Masters of Applied computer science
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />

        <a href="https://www.google.com/maps/place/Horizons+West+Apartments">Horizons West Apartments</a><br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/ashish.pandey91">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>

    <h2>Connections</h2>
    <ul>
        <li><a href="https://twitter.com/Ashish_Pandey91">Twitter</a></li>
        <li><a href="https://in.linkedin.com/in/ashish-pandey-7030b631">LinkedIn</a></li>
    </ul>
    <br />

    <h2>Links</h2>
    <ul>
        <li><a href="http://hanutanu.blogspot.in">My Blogs</a></li>
    </ul>
    <br />
</div>

