﻿
<link rel="stylesheet" href="~/css/custom.css">
<style>
    

.textpos{
	position: absolute;
	top:130px;
	width: 100%;
	text-align: center;
}

.textpos2{
	position: absolute;
	top:220px;
	width: 100%;
	text-align: center;
}

#partwo{
	width: 100%;
	min-height: 150px;
	background-color: #e74c3c;
}



hr{
	border: solid 1px #34495e;
	width: 460px;
}

.ph3,.ph4,.ph5{
	width: 100%;
	min-height: 250px;
	
}

       
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="position: relative;">
                <img src="~/images/sharanyabanner.png" style="min-height:400px;opacity:0.5; width:100%" />
            </div>
            <h2 class="textpos animated bounceInLeft" style="font-size: 50px; color: #34495e"><strong>Sharanya Rao</strong></h2>
            <h3 class="textpos2 animated bounceInRight" style="color: #34495e"><hr class="hrcust"><i><strong>Software Engineer,Web Developer,Coder</strong></i><hr class="hrcust"></h3>
        </div>
    </div>
</div>
        <div class="clearfix"></div>
    <div class="container">
        <div class="row" id="partwo" style="margin-left:1px;">
            <div class="col-md-4">
                <img src="~/images/sharanyapp.png" alt="profile" class="img-circle" style="min-height: 120px;float: right;margin-top: 10px;">
            </div>
            <div class="col-md-8" style="margin-top: 5px;">
                <h4 style="line-height: 18px"><strong>A few words about Me!</strong></h4>
                <p>I am Sharanya,a enthusiast web deveoper and coder.I enjoy learning new technologies.</p>
                <p>I am passionate about web designing and development and also a voracious reader.</p>
                <p>I believe in hardwork and give complete commitment to the work I do.</p>
            </div>
        </div>
    </div>
        <div class="clearfix" style="margin-bottom: 20px;"></div>

        <div class="container" style="align-content:center">
            <div class="row" style="margin-left: 25px;margin-right: 25px;">
                <div class="col-md-4">
                    <div class="ph3 panel panel-success">
                        <div class="panel-heading "><h4 style="text-align: center; color: #27ae60"><strong>Education</strong></h4></div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    Masters in Applied Computer Science,
                                    <p>NorthWest Missouri State University</p>
                                    <p>Maryville, MO - 64468</p>
                                </li>
                                <li>
                                    Bachelors in Computer Science,
                                    <p>Jawaharlal Technological University</p>
                                    <p>Hyderabad, India</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ph4 panel panel-success">
                        <div class="panel-heading "><h4 style="text-align: center;color: #27ae60"><strong>Skills</strong></h4></div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    Programming Languages
                                    <p>JAVA , C# , PYTHON</p>
                                </li>

                                <li>
                                    WebTechnologies and Frameworks
                                    <p>J2EE, Spring, Asp.Net, Maven</p>
                                </li>

                                <li>
                                    Mobile Technologies
                                    <p>Android</p>
                                </li>

                                <li>
                                    Databases
                                    <p>MySql, MongoDB, Oracle</p>
                                </li>

                                <li>
                                    Development Environment
                                    <p>Spring Tool Suite,Eclipse,Android Studio</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ph5 panel panel-success">
                        <div class="panel-heading "><h4 style="text-align: center;color: #27ae60"><strong>Career Contour</strong></h4></div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    JAN 2015 - PRESENT
                                    <p>Pursuing Masters in Applied Computer Science</p>
                                </li>

                                <li>
                                    Jun 2013 to Dec 2014
                                    <p>  Assciate Consultant at CapGemini</p>
                                </li>

                                <li>
                                    July 2010 to May 2013
                                    <p>  Ssenior Systems Engineer at Infosys Ltd</p>
                                </li>

                                <li>
                                    Contact
                                    <div>
                                        <br />
                                        <span><a href="https://www.facebook.com/sharanyarao60"><img src="~/images/facebook44.png" style="min-height: 15px;"></a>
                                        </span>&nbsp;&nbsp;&nbsp;&nbsp;<span><a href="https://www.linkedin.com/in/sai-sharanya-deevakonda-bb846b108?trk=nav_responsive_tab_profile"><img src="~/images/linkedin.png">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        </span><span><a href="sharanyarao60@gmail.com"><img src="~/images/opened4.png"></a></span>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        


        <footer style="margin-top: 30px;">

            <h4 style="text-align: center; color: #aaa	">&copy; 2016. All rights reserved.Designed and Developed by <strong>Sharanya&nbsp;</strong></h4>

            <h4 style="text-align: center;color: #aaa"><div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></h4>
        </footer>
    </div>







