﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{

}

<div class="supremraju">
    <h2>@ViewData["Title"]</h2>

</div>

<div class="supremraju" style="background-image:url(http://cdn.collider.com/wp-content/uploads/dark-knight-rises-mondo-jock.jpg)">
    <div style="background-image:url(http://cdn.collider.com/wp-content/uploads/dark-knight-rises-mondo-jock.jpg)">
         
        <img align="right" style="width:300px; " height:100px;" src="~/images/12509257_1178392878855111_7051583729590259769_n.jpg" />
    <address>
        <b  > Suprem Raju Manthena</b>
        <br />
        <span class="glyphicon glyphicon-envelope"  > </span><a style="color:chocolate" href="mailto:s525350@mail.nwmissouri.edu"> supremmanthena@outlook.com</a>
        <br /><br />
        Graduate Student at Northwest Missouri State University
         <br/>
        Masters of Applied computer science
            <br />
            <a href="http://www.nwmissouri.edu/" style="color:darkgreen"><b>Northwest Missouri State University</b></a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm"  style="color:darkgreen">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />
            <a  href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA" style="color:darkgreen">Maryville, MO 64468</a>
            <br />
            <br />
            
            <br />
</address>
    <h3>Network</h3>
    <ul>
        <li><a href="https://plus.google.com/116227138076627953228">Google+</a></li>

        <li><a href="https://www.facebook.com/suprem.manthena">Facebook</a></li>
    </ul>
    <br />
    

    <div id="fwrapper">
        <div id="col-center"><h3>Related Links</h3><ul><li><a href="http://www.nwmissouri.edu/aboutus/index.htm">
            About Northwest</a></li><li><a href="http://www.nwmissouri.edu/hr/index.htm">
            Employment</a></li><li><a href="http://www.nwmissouri.edu/admissions/campusvisits/maps.htm">
            Maps and Directions</a></li><li><a href="http://www.nwmissouri.edu/facts/consumerinfo.htm">
            Consumer Information</a></li><li><a href="http://www.nwmissouri.edu/alert/index.htm">
            Emergency Information</a></li><li><a href="http://www.nwmissouri.edu/aboutus/comment.htm">
            Comment Card</a></li></ul></div><div id="col-right"><h3>
             </div>

    </div>
    <!-- Start Google Analytics tag -->
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-412146-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
    <!-- End Google Analytics tag -->
    <!-- Start Quantcast tag -->
    <script type="text/javascript">
	_qoptions={
	qacct:"p-7fMeGk_1_S5nw"
	};
    </script>
    <script src="http://edge.quantserve.com/quant.js" type="text/javascript"></script>
    <noscript>
        <img alt="Quantcast" border="0" height="1" src="http://pixel.quantserve.com/pixel/p-7fMeGk_1_S5nw.gif" style="display: none;" width="1" />
    </noscript>