﻿@{
    ViewData["Title"] = "Vijay Gopi's Information";
    ViewBag.Name = "Vijay Gopi";
    ViewBag.Degree = "Masters in Applied Computer Science";
    ViewBag.EmailInfo = "s522581@mail.nwmissouri.edu";
    ViewBag.Department = "Applied Computer Science";
}


<style>
    a {
        color: white;
    }

        a:hover {
            color: red;
        }

    .highlight a {
        opacity: 0.5;
    }

        .highlight a:hover {
            opacity: 1;
        }
</style>


<div class="vijay">
    <div>
        <img align="right" style="width:300px; " height:400px;" src="~/images/VijayGopi.PNG" />
    </div>
    <br />
    <body style="background-color : limegreen">
    </body>
    <div class="vijay">
        <h2>@ViewData["Title"].</h2>
        <h3><span class="glyphicon glyphicon-info-sign"></span> @ViewBag.Name</h3>
        <h5>Current Subjects</h5>
        <h6><span class="glyphicon glyphicon-eye-open"><a href="http://www.nwmissouri.edu/mathcsis/msacs/current/projects/index.htm">GDP</a></span></h6>
        <h6><span class="glyphicon glyphicon-eye-open"></span><a href="http://www.nwmissouri.edu/mathcsis/msacs/PDF/44-663_Syllabus_Spring2016.pdf">C# .NET</a></h6>
        <h6><span class="glyphicon glyphicon-eye-open"></span><a href="http://www.nwmissouri.edu/mathcsis/msacs/PDF/560SyllabusFa13.pdf">ADB</a></h6>
    </div>
    <div class="vijay">
        <address>
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:@ViewBag.EmailInfo"> @ViewBag.EmailInfo</a>
            <br />
            Degree : @ViewBag.Degree
            <br />
            Depatment : @ViewBag.Department
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />

            <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Colden hall</a><br />
            <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />

        </address>
        <h3>Connections</h3>
        <nav class="highlight">
            <a href="https://www.facebook.com/vijju.gopi" target="_blank"><img src="~/images/fb.png" /></a>
            <a href="https://twitter.com/VijjuGopi92" target="_blank"><img src="~/images/twit.png" /></a>
        </nav>

    </div>
</div>
