﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/krishna.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <mark>welcome</mark>
    <div>
        <img src="~/images/Krishna.jpg" width="80"  height="100" alt="Krishna Image missing" style="float:right" />
        <div>
            <h2>Krishna Kumar Painuly</h2>
            Email Id: <a href="mailto:s525274@mail.nwmissouri.edu">S525274@mail.nwmissoruri.edu</a><br />
            Address: 1115 N College Dr. Maryville MO 64468
        </div>
        <hr />
        <div id="intro">
            <a href="http://www.nwmissouri.edu/online/">APP DEVELOPMENT IN C#.NET </a><br />
            <a href="http://www.nwmissouri.edu">Northwest Missouri State University</a><br />
            Department of Mathematics, Computer Science, and Information Systems<br />
            <img src="~/images/MVC.jpg" id="aspImg" />
            <table border="1">
                <caption>.NET Schedule</caption>
                <tr>
                    <td>Classes</td>
                    <td>Monday, Wednesday, Friday</td>
                </tr>
                <tr>
                    <td>Help Session</td>
                    <td>Thursday</td>
                </tr>
                <tr>
                    <td>Assignments Deadline</td>
                    <td>Sunday</td>
                </tr>
                <tr>
                    <td>Coding Exercises Deadline</td>
                    <td>Thursday</td>
                </tr>
                <tr>
                    <td>Discussions Deadline</td>
                    <td>Tuesday</td>
                </tr>
            </table>
        </div>
        <hr />       
        <b>Assignment 04 instructions:</b>
        <Ol>
            <li> Clone the code from "https://bitbucket.org/NW-44-663-2016/a04"</li>
            <li>Export the project in Visal Studio.</li>
            <li>Add your page to the sub menu of your team no. menu, not under team menu.</li>
            <li>Add an action method to the associated controller.</li>
            <Li>Add a view that will be returned as your action response.</Li>
            <li>Display any content you like on your personal page.</li>
            <li>Check if the build is successfull and the code runs correctly.</li>
            <li>Commit your code back into the master branch then push it to the repository. If you are unable to push, it means the changes in your files are conflicting with others file.so 1) pull the code from bitbucket, 2)merge your code with the new code 3) commit and push to bitbucket.</li>
        </Ol>
        Note: This is an individual assignment. Everyone have to add their pages and commit the code. Use your creativity in designing your own page.
        <h2>Connections</h2>
        <ul>
            <li><a href="https://twitter.com/KrishnaPainuly">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/krishna-kumar-78783341?trk=nav_responsive_tab_profile">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/krishnapainuly">Facebook</a></li>
            
        </ul>
        <br />
        <img src="~/images/flower.jpg" id="flower" />
    </div>
    <div style="text-align:center">
        <h4>Thank you.</h4>
    </div>
</body>
</html>
