﻿@{

}
<div class="manasabojja"
<div class="container">
    <div class="jumbotron">
        <!-- Section 1 -->
        <div class="row">


            <div class="col-md-8">
                <h2 class="disp">@ViewData["Title"].</h2>
                <blockquote>
                    <p>Teaching Assistant</p>
                    <footer>Northwest Missouri State University <cite title="Source Title">C# .NET</cite></footer><br />
                </blockquote>
            </div>
            <div class="col-md-4">
                <img src="~/images/manasa.jpeg" class="img-circle" alt="Cinque Terre" width="250" height="250">
            </div>
        </div>




    <div class="row">
        <address>
            Manasa Bojja
            <br />
            <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:S524980@mail.nwmissouri.edu"> S524980@mail.nwmissouri.edu</a>
            <br /><br />

           

            Graduate Student at Northwest Missouri State University
            <br />
            Masters in Applied Computer Science
            <br />
            <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />


            <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>



        <div class="row">
            <h2>Contact Timings/Help session: </h2>
            <table border="1">
                <tr>
                   <th>Course</th>
                   <th>Help session Day</th>
                   <th>Session Timings</th>
                </tr>
                <tr>
                    <td>C# .NET</td>
                    <td>Every Thursday</td>
                    <td>2:00-3:50PM</td>
                </tr>
                
            </table>
        </div>
        <h2>Connections</h2>
        <ul>
            <li><a href="https://twitter.com/BojjaManasa">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/manasabojja">LinkedIn</a></li>

        </ul>
        <br />



        <br />


        </div>
    </div>
</div>
</div>