﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron">
    <div>
        <h2> @ViewData["Title"] </h2>
        <div>
            <img class="img-responsive img-circle" style="width:200px;height:200px" src= "~/images/me.jpg" />
        </div>
        <br />
        <br />


        <h3> @ViewData["Protip"]</h3>
    </div>

    <div>
        <address>
            <span class="glyphicon glyphicon-envelope"> </span><a class="Imaduddin-links" href="mailto:S525111@mail.nwmissouri.edu"> S525111@nwmissouri.edu</a>
            <br /><br />

            Graduate Student
            <br />
            Masters of Applied Computer Science
            <br />
            <a class="Imaduddin-links" href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a class="Imaduddin-links" href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />

            1121 North College Drive<br />
            <a class="Imaduddin-links" href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a class="Imaduddin-links" target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a class="Imaduddin-links" href="https://plus.google.com/">Google+</a></li>
            <li><a class="Imaduddin-links" href="https://www.facebook.com/imaduddin.naveed">Facebook</a></li>
            <li><a class="Imaduddin-links" href="https://twitter.com/?lang=en">Twitter</a></li>
        </ul>
        <br />

    </div>
</div>

