﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="koppu_BackGround">
    <div>
        <div>
            <img style="float:left;padding-top:25%" src="~/images/koppuPhoto.jpg" />
        </div>
        <br />
        <br />


        <h2> @ViewData["Title"] </h2>
        <h3> @ViewData["Protip"]</h3>
    </div>

    <div class="koppu_textColor">
        <address>
            <span class="glyphicon glyphicon-envelope"> </span><a class="koppu_links" href="mailto:s525036@mail.nwmissouri.edu"> S525036@mail.nwmissouri.edu</a>
            <br /><br />

            Graduate Student
            <br />
            Applied Computer Science
            <br />
            <a class="koppu_links" href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a class="koppu_links" href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />

            1115 N North College Drive Apt #100<br />
            <a class="koppu_links" href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a class="koppu_links" target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a class="koppu_links" href="https://www.linkedin.com/in/naga-prasad-koppu-1a154562?trk=hp-identity-name">LinkedIn</a></li>
            <li><a class="koppu_links" href="https://www.facebook.com/knp.gupta">Facebook</a></li>
        </ul>
        <br />

    </div>
</div>

