﻿@{

}
<br/><br/>
<div  >
<div style ="background-color : lightcyan ; border: 2px solid black;  border-radius: 25px;" class="container">
    <h2>@ViewData["Title"].</h2>
    <h3><span class="glyphicon glyphicon-king"></span> @ViewData["Protip"]</h3>
</div>
    <br/>
<div style ="background-color : lightcyan ; border: 2px solid black;  border-radius: 25px;" class="container">
    <div class="col-md-7">
     <h3>Address </h3>
    <address>
        Ramesh Pasupuleti
        <br />
        <span class="glyphicon glyphicon-envelope"> </span><a href="mailto:s522609@mail.nwmissouri.edu"> s522609@mail.nwmissouri.edu</a>
        <br /><br />
        Graduate student
        <br />
        Applied Computer science
        <br />
        <a href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
        <br>
        <a href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
        <br />
        <a href="https://www.nwmissouri.edu/admissions/pdf/campusmap.pdf">Horizons West</a><br />
        <a href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
        <br />
        <br />
        <a target="_blank" title="follow us on facebook" href="https://www.facebook.com">
            <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
        </a>
        <br />
    </address>
        </div>
    <div class="col-md-5">

        <img alt="follow us on facebook" src="~/images/ramesh.jpg" border="0">
    </div>
    </div>
<br/>
    <div style="background-color : lightcyan ; border: 2px solid black;  border-radius: 25px;" class="container">
        <h3>Connections</h3>
        <ul>
            <li><a href="https://www.facebook.com/ramesh.16d">Facebook</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/ramesh-pasupuleti-60b50284">LinkedIn</a></li>
        </ul>
    </div>
    <br />
    <h2>My Home Town </h2>
    <ul>
        <li>Tourist Place - Click On Below Image</li>
    </ul>
    <br />
        
    <div class="fullpic" style="border-radius: 25px;">
        <a href="https://www.ixigo.com/places-to-visit-see-in-markapur-lp-1092960">
            <img style='height: 100%; width: 100%;  object-fit: contain' src="~/images/markapurroad.jpg" alt="Road" /> </a>
</div>


    </div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    </script>
}