﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="sowmya-backGround">
    <div class="sowmya-txtColor">
        <div>
            <img style="float:left" src="~/images/sowmya.jpg" />
        </div>
        <br />
        <br />
       
        <h2 style="margin-left:25%"> @ViewData["Title"] </h2>
        <h3 style="margin-left:25%"> @ViewData["Protip"]</h3>
    </div>

    <div class="sowmya-textColor">
        <address>
            <span class="glyphicon glyphicon-envelope"> </span><a class="sowmya-links" href="mailto:dcase@nwmissouri.edu"> S525043@nwmissouri.edu</a>
            <br /><br />

            Graduate Student
            <br />
            Masters of Applied Computer Science
            <br />
            <a class="sowmya-links" href="http://www.nwmissouri.edu/">Northwest Missouri State University</a>
            <br>
            <a class="sowmya-links" href="http//www.nwmissouri.edu/mathcsis/index.htm">Department of Mathematics, Computer Science, and Information Technology </a>
            <br />

            1121 North College Drive<br />
            <a class="sowmya-links" href="https://www.google.com/maps/place/Colden+Hall,+University+Dr,+Maryville,+MO+64468/data=!4m2!3m1!1s0x87eac542da7f4237:0x9d88212f0c06e277?sa=X&ei=9A-OVcLwIJHUgwSjpIHoAQ&ved=0CB0Q8gEwAA">Maryville, MO 64468</a>
            <br />
            <br />
            <a class="sowmya-links" target="_blank" title="follow us on facebook" href="https://www.facebook.com/northwestmathcsis">
                <img alt="follow us on facebook" src="~/images/logos-and-badges_find-us_online/png/FB-FindUsonFacebook-online-100.png" border="0">
            </a>
            <br />
        </address>

        <h2>Connections</h2>
        <ul>
            <li><a class="sowmya-links" href="https://plus.google.com/100569562323834192203/posts">Google+</a></li>
            <li><a class="sowmya-links" href="https://www.facebook.com/people/Sowmya-Reddy/100009662162816">Facebook</a></li>
            <li><a class="sowmya-links" href="https://twitter.com/Sowmya_17">Twitter</a></li>
        </ul>
        <br />

    </div>
</div>

