﻿
﻿
﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* custom styling here */



html > body .fullpic {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}



html > body .denisecase {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
}
html > body .denisecase h3 {
    
     color: #black;
}

    html > body .denisecase h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

.dcband {
    background-color: #85ACD6;
    max-width: 880px;
    max-height: 120px;
    min-height: 60px;
    padding: 20px;
}

html > body #dccanvas {
    width: 100%;
    height: 100%;
}


html > body .ashishpandey {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
    background-image:url("../../images/iron.jpg");
    background-position:left;
    background-repeat:no-repeat;

}



    html > body .ashishpandey h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

    .apband {
    background-image:url(~/images/~/images/IMhb.jpg);
    max-width: 880px;
    max-height: 120px;
    min-height: 60px;
    padding: 20px;
    }


<!-- CSS- added by Manasa Bojja -->
    disp.h1{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

col-md-4.img {
  vertical-align: middle;
  height:250px;
  width:250px;
}
.img-circle {
  border-radius: 50%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron h2
{color: #0099CC;}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
blockquote footer{
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

html > body .manasabojja
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
  th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }


   
    #add_image {
    background-image: url('../images/bg.jpg');
    max-width: 100%;
    max-height: 100%;
    }

   .bhavana-addBackGround{
        background-image:url(/images/bhavana-wallpaper.jpg);
        width:100%;
    }

    .bhavana-textColor{

        margin-left:5%;
        color:black;
        font-size:large;
        font-family:'Comic Sans MS';
    }
    .bhavana-links{
        color:black;
    }

    .Chandrakanth_bg{
        background-image:url(/images/Chandu1.jpg);
        width:100%;
    }

   .koppu_BackGround{
        background-image:url(/images/knpWallpaper.jpg);
        width:100%;
   }
        
    .koppu_textColor {
        margin-left:25%;
        color:saddlebrown;
        font-size:x-large;
        font-family:'French Script MT';
    }    

    .koppu_links{
        color:darkslateblue;
    }
﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* custom styling here */


.container-full {
  margin: 0 auto;
  width: 100%;
}
html > body .fullpic {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}


/*Team 06 styling*/

.vcard-profile-description-ft-item {
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    
}
.vcard-profile-description {
    text-align: center;
}
.profile-title {
    text-align: center;
    
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;
}
.color1 {
    color: #08aeac;
}
.profile-subtitle {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vcard-profile-description-text {
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.footer-social-icons {
    text-align: center;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }


.vcard-profile-description {
    text-align: center;
    background-image: url('../../wwwroot/images/jumbotronbackground.jpg')
}
html > body .denisecase {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
      min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
}
html > body .denisecase h3 {
    
     color: #black;
}

    html > body .denisecase h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

.dcband {
    background-color: #85ACD6;
    max-width: 880px;
    max-height: 120px;
    min-height: 60px;
    padding: 20px;
}

html > body #dccanvas {
    width: 100%;
    height: 100%;
}

html > body .ashishpandey {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
      min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
}
html > body .ashishpandey h3 {
    
     color: #black;
}

    html > body .ashishpandey h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

   
    #add_image {
    background-image: url('../images/bg.jpg');
    max-width: 100%;
    max-height: 100%;
    }

    html > body .satyaradhaaddala {  
    
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    
    padding: 20px;
    position: relative;
    overflow: auto;
    font-size:large;
    font-family:'Comic Sans MS';
}

  .sowmya-backGround {
       background-image:url(/images/backgroundSowmya.jpg);
        width:100%;
}
   .sowmya-textColor{

        margin-left:25%;
        color:black;
        font-size:large;
        font-family:'Comic Sans MS';
    }

    .sowmya-links {
        color:blueviolet;
    }

    /*Manoj Are's Classes*/
    .aboutManoj{
    background-image:url('../images/')
    }

    .Abhi-addBackGround{
        background-image: url(/images/background_Abhi.jpg);
        background-size: 100%;
        width: 100%;
        background-repeat: no-repeat;
        padding: 20px;
    }
    .Abhi .name {
    font-size: 40px;
    line-height: 0.5em;
    margin-top: 20px;
}
    .Abhi{
        width:50%;
        float:left;
    }
 


﻿
﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* custom styling here */



html > body .fullpic {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}



html > body .denisecase {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
}
html > body .denisecase h3 {
    
     color: #black;
}

    html > body .denisecase h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

.dcband {
    background-color: #85ACD6;
    max-width: 880px;
    max-height: 120px;
    min-height: 60px;
    padding: 20px;
}

html > body #dccanvas {
    width: 100%;
    height: 100%;
}


html > body .ashishpandey {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
    background-image:url("../../images/iron.jpg");
    background-position:left;
    background-repeat:no-repeat;

}



    html > body .ashishpandey h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

    .apband {
    background-image:url(~/images/~/images/IMhb.jpg);
    max-width: 880px;
    max-height: 120px;
    min-height: 60px;
    padding: 20px;
    }


<!-- CSS- added by Manasa Bojja -->
    disp.h1{
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

col-md-4.img {
  vertical-align: middle;
  height:250px;
  width:250px;
}
.img-circle {
  border-radius: 50%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron h2
{color: #0099CC;}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
blockquote footer{
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

html > body .manasabojja
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
  th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
  }


   
    #add_image {
    background-image: url('../images/bg.jpg');
    max-width: 100%;
    max-height: 100%;
    }

    html > body .satyaradhaaddala {  
    
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    
    padding: 20px;
    position: relative;
    overflow: auto;
}




   .bhavana-addBackGround{
        background-image:url(/images/bhavana-wallpaper.jpg);
        width:100%;
    }

    .bhavana-textColor{

        margin-left:5%;
        color:black;
        font-size:large;
        font-family:'Comic Sans MS';
    }
    .bhavana-links{
        color:black;
    }

   .koppu_BackGround{
        background-image:url(/images/knpWallpaper.jpg);
        width:100%;
   }
        
    .koppu_textColor {
        margin-left:25%;
        color:saddlebrown;
        font-size:x-large;
        font-family:'French Script MT';
    }    

    .koppu_links{
        color:darkslateblue;
    }
﻿
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

/* custom styling here */


.container-full {
  margin: 0 auto;
  width: 100%;
}
html > body .fullpic {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}


/*Team 06 styling*/

.vcard-profile-description-ft-item {
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    
}
.vcard-profile-description {
    text-align: center;
}
.profile-title {
    text-align: center;
    
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;
}
.color1 {
    color: #08aeac;
}
.profile-subtitle {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vcard-profile-description-text {
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.footer-social-icons {
    text-align: center;
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }


.vcard-profile-description {
    text-align: center;
    background-image: url('../../wwwroot/images/jumbotronbackground.jpg')
}
html > body .denisecase {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
      min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
}
html > body .denisecase h3 {
    
     color: #black;
}

    html > body .denisecase h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

.dcband {
    background-color: #85ACD6;
    max-width: 880px;
    max-height: 120px;
    min-height: 60px;
    padding: 20px;
}

html > body #dccanvas {
    width: 100%;
    height: 100%;
}

html > body .ashishpandey {
   
    vertical-align: middle;
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
      min-width: 60px;
    background-color: #FBF6F4;
    padding: 20px;
    position: relative;
    overflow: auto;
}
html > body .ashishpandey h3 {
    
     color: #black;
}

    html > body .ashishpandey h3:hover {
        /* blur filters, etc. */
        text-transform: uppercase;
        -ms-transform: skewX(160deg); /* IE 9 */
        -webkit-transform: skewX(160deg); /* Chrome, Safari, Opera */
        -moz-transform: skewX(160deg);
        -o-transform: skewX(160deg);
        transform: skewX(160deg);
        color: darkblue;
    }

   
    #add_image {
    background-image: url('../images/bg.jpg');
    max-width: 100%;
    max-height: 100%;
    }

    html > body .satyaradhaaddala {  
    
    max-width: 880px;
    max-height: 100%;
    min-height: 80px;
    min-width: 60px;
    
    padding: 20px;
    position: relative;
    overflow: auto;
}

  .sowmya-backGround {
       background-image:url(/images/backgroundSowmya.jpg);
        width:100%;
}
   .sowmya-textColor{

        margin-left:25%;
        color:black;
        font-size:large;
        font-family:'Comic Sans MS';
    }

    .sowmya-links {
        color:blueviolet;
    }

    /*Manoj Are's Classes*/
    .aboutManoj{
   background-image: url('../images/manoj-background.jpg');
    }
    .aboutManoj span img {
     width: 33%;
     vertical-align: initial;
     margin-top:30px;
}
    .areManojSection {
    margin: 20px;
    width: 50%;
    display: inline-block;
}
    .Abhi-addBackGround{
        background-image: url(/images/background_Abhi.jpg);
        background-size: 100%;
        width: 100%;
        background-repeat: no-repeat;
        padding: 20px;
    }
    .Abhi .name {
    font-size: 40px;
    line-height: 0.5em;
    margin-top: 20px;
}
    .Abhi{
        width:50%;
        float:left;
    }
 

/*Kowshik Css changes*/
#kowshik{
        background-image:url(/images/kowshik-bg.jpg);
        background-size:100%;
        padding:20px;
    }
    .leftDiv,.rightDiv{
        float:left;
        width:50%;
    }

