﻿html {
	margin: 0;
	padding: 0;
	}

.pratap-backGround {
    background-image: url('../images/film-background.jpg');
    width: auto;
}

   .pratap-textcolor{
        margin-left:10%;
        font-size:large;
        font-family:'comic sans ms';
    }